@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.home {
    padding-top:10rem;
}

section {
    padding: 5rem 0;
}

header ul li .custom-link {
    font-size: 2rem;
    margin-left: 2rem;
    color: black;
}



.title {
    font-size: 4.5rem;
    color: black;
}

.paragraph {
    font-size: 1.7rem;
    color:#666;
    margin: 1rem 0;
}

.price {
    color: #ff4891;
    font-size: 4rem;
    margin: 1.5rem 0;
    display:block;
}

.custom-btn {
    display: inline-block;
    background: #ff4891;
    font-size: 1.7rem;
    padding: 1.2rem 3rem;
    border-radius: .5rem;
    color: white;
    text-decoration: none;
    margin-top:1rem;
}

.custom-bg {
    background: #fceae8;
    padding: 3rem;
}

.custom-font-size {
    font-size: 4rem;
    color: white;
}

.section-title {
    font-size:3rem;
    color: black;
    margin-bottom: 3rem;
}

.custom-card-title {
    font-size: 2.5rem;
    color: black;
    margin: 1rem 0;
}

.custom-price {
    font-size: 2rem;
    color:black;
    margin: 1rem 0;
}

.touch {
    background:#fceae8;
}

.touch .box {
    border: .1rem solid black;
    padding: 1.2rem 1.4rem;
    text-transform: none;
    max-width:40rem;
    font-size: 1.7rem;
    margin: 1rem 0;
}